.header {
    height: 95vh; /* 95% del view-port */
    @include background-image-gradient( '../img/hero.jpg' );
    background-position: top; /* No se recortará la imagen por la parte superior al redimensionar */
    /* Recorta la imagen, crea un polígono donde todo lo que esté fuera no se verá */
    -webkit-clip-path: polygon( 0 0, 100% 0, 100% 75vh, 0 100% );
    clip-path: polygon( 0 0, 100% 0, 100% 75vh, 0 100% );
    position: relative;

    &__logo-box {
        position: absolute;
        top: 4rem;
        left: 4rem;
        animation: moveInDeep 1s;
        animation-delay: 0.8s;
        animation-fill-mode: backwards;
    }
    
    &__logo-box--anim {
        animation: moveInDeepAfter 1.5s;
        animation-delay: 0.8s;
        animation-fill-mode: backwards;
    }
    
    &__logo {
        height: 3.5rem;
    }
    
    &__text-box {
        position: absolute;
        top: 40%;
        left: 50%;
        /* Se mueve -50% del tamaño del elemento, tanto en altura como en anchura */
        transform: translate(-50%, -50%);
        text-align: center;
    }
}