.section-about {
    background-color: $color-gray-light-1;
    padding: 25rem 0;
    //Para que el color gris del background rellene el triángulo de arriba
    //El triángulo de arriba llega hasta 75vh, mientras que esta sección empieza en 95vh (ver en layout/_header.scss)
    margin-top: -20vh;
}

.section-features {
    padding: 20rem 0;
    @include background-image-gradient('../img/nat-4.jpg');
    transform: skewY(-7deg);
    margin-top: -10rem;

    //Selecciona todos los hijos directos del elemento (el ">" es para que sean hijos directos)
    & > * {
        transform: skewY(7deg);
    }
}

.section-tours {
    background-color: $color-gray-light-1;
    padding: 25rem 0 5rem 0;
    margin-top: -10rem;
}

.section-stories {
    padding: 10rem 0 10rem 0;
    //background-color: $color-gray-light-1;
    position: relative;
}

.section-booking {
    padding: 15rem 0;
    background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
}

.book {
    //Al linear-gradient le decimos el ángulo en el que tiene que ir (podemos especificar ángulos o direcciones)
    //Después le indicamos los colores que queremos que tenga en distintos puntos del gradiente
    //En el 0% blanco, con un poco de transparencia
    //Lo mismo en el 50%, por lo que del 0% al 50% será el mismo color
    //En el 50% también es donde le decimos transparente, por lo que justo después del blanco, comenzará a ser transparente
    background-image: 
        linear-gradient(
            105deg,
            rgba($color-white, .85) 0%,
            rgba($color-white, .85) 50%, 
            transparent 50%
        ), 
        url(../img/nat-10.jpg);
    background-size: cover;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .2);

    &__form {
        width: 50%;
        padding: 6rem;
    }
}